div {
    height: 100px;
    margin-bottom: 10px;
    background: red;
    transition: 1000ms;
    width: 100%;
}

.active {
    width: 400px;
    background: yellow !important;
    color: blue !important;
}
